/*#f90044*/
.home {
  min-height: 100vh;
  background: #141414;
}

.content {
  opacity: 0;
  margin-top: 300px;
  transition: all .5s ease;
}
.contentOut {
  opacity: 1;
  margin-top: 0;
}

.sectionTitle {
  margin: 0;
  color: #e5e5e5;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid transparent;
  small {
    font-size: .6em;
    font-weight: lighter;
    opacity: 0;
    display: inline-block;
    transition: all .3s ease;
  }
  i {
    font-size: .6em;
  }
  &:hover {
    border-bottom: 1px solid red;
    small {
      opacity: 1;
      padding: 0 0 0 1em;
    }
  }
}

.worksContainer {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 32vw;

  & > div {
    position: absolute;
    top: -8em;
    width: 100%;
    padding: 0 3em;
  }
}

.carousel {
  min-height: 100vh;
  overflow: auto;
  & > div {
    position: relative;
    video {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0;
      padding: 0;
      object-fit: cover;
      filter: brightness(60%);
    }
    & > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #FFF;
      h1 {
        font-size: 6em;
        margin: 0;
        padding: 0 0 .3em 0;
      }
      div {
        width: 10%;
        border-radius: 5px;
        border: 1px solid #fff;
      }
      p {
        width: 50%;
        text-align: center;
        font-size: 1.4em;
        margin: 0;
        padding: 2em 0 0 0;
      }
    }
  }
}

.expos {
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: auto;
    height: auto;
    padding: 1.4em 0 0 0;
    & > div {
      height: 35vw;
      width: 100%;
      background: #ddd;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      margin: 0 .1em;
      &:last-child , &first-child {
        margin: 0;
      }
      video {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        object-fit: cover;
        filter: brightness(70%);
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
      }
      & > div {
        height: 100%;
        transform: translateY(80%);
        color: #FFF;
        background: rgba(0, 0, 0, .5);
        width: 100%;
        padding: 1em;
        position: absolute;
        z-index: 90;
        top: 0;
        cursor: pointer;
        h2 {
          padding: 0;
          margin: 0;
        }
        p {
          display: none;
          padding: 1em;
          margin: 0;
          text-align: justify;
        }
        a {
          display: none;
          margin: 1em auto;
          padding: .5em;
          width: 5em;
          text-align: center;
          border-radius: 6px;
          border: 1px solid #f90044;
        }
      }
      &:hover {
        video {
          display: block;
        }
        & > div {
          transition: all .3s ease !important;
          transform: translateY(0%);
          p {
            display: block;
          }
          a {
            display: block;
            width: 7em;
          }
        }
      }
    }
  }
}

.recommendations {
  padding: 0 3em;
  & > div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
    width: 100% !important;
    padding: 1em 0;
    height: 450px;
  }
}

.rcard {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 400px;
  width: calc(100% / 6);
  margin: 0 .1em;
  transition: all .2s ease;
  cursor: pointer;
  & > div {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .25);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:first-child {
      position: relative;
    }
    &:last-child {
      padding: 1em;
    }
    img {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      transition: all .5s ease !important;
      margin: 0 auto;
    }
    h2 {
      margin: 0;
      padding: 0;
      color: #fff;
      font-size: 1.2em;
      font-weight: 0;
      display: none;
    }
    p {
      color: #fff;
      margin: 0;
      display: none;
    }
  }
  &:hover {
    transition: all .3s ease;
    width: calc((100% / 6) + 40px);
    height: 440px;
    & > div {
      h2 , p {
        display: block;
      }
    }
  }
}

.concerts {
  padding: 0 2em 1em 2em;
  width: 100%;
  h2 {
    margin: 0 0 .5em 0;
    padding: 0 0 .3em 0;
    border-bottom: 3px solid #2A82D4;
    color: #666;
  }
  & > div {
    display: flex;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
    & > div:first-child {
      img {
        width: 100%;
      }
    }
    & > div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3, h4 {
        margin: 0;
        padding: 0;
      }
      h4 {
        color: #999;
      }
      & > div {
        display: flex;
        padding: .6em;
        margin-bottom: 1em;
        width: 100%;
        height: 100%;
        background: #E6E6E6;
        img {
          display: block;
          width: 5.6em;
          height: 5em;
        }
        & > div {
          width: 100%;
          padding: 0 .6em;
        }
      }
    }
  }
}
