.header {
  position: absolute;
  top: -300px;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  transition: all .6s ease;
}
.headerOut {
  top: 0;
}

.nav {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  & > div:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1em;
    min-width: 180px;

    a, button {
      font-size: 1.4em;
      padding: 1em 0;
      display: block;
      color: #FFF;
      text-decoration: none;
    }
  }
  & > div:last-child {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
    img {
      height: 1.8vw;
    }
    a, button {
      padding: .5em .3em;
      font-size: 1.4em;
      display: block;
      color: #FFF;
      text-decoration: none;
    }
  }
  a:hover, a:focus {
    text-decoration: none;
  }
}
