.footer {
  background-color: #141414;
  & > div {
    &:first-child {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin: 0 auto;
      padding: 6em 6em 3em 6em;
      color: #898989;
      h3 {
        margin: 0;
        padding: 0;
        font-size: 1.3em;
      }
      a {
        color: #898989;
        display: block;
        text-decoration: none;
        font-size: 1em;
      }
      & > div {
        padding: 0 2em;
      }
    }
    &:last-child {
      padding: 1.5vw;
      color: #666;
      text-align: center;
      display: block;
    }
  }
}
